/* larger bushel (end) */
/* smaller bushel (start) */
/*.bushel {
  position: relative;
  width:90px;
  margin-left:auto;
  margin-right:auto;
}
.leaf {
  position: relative;
  background-color: #000;
  height: 30px;
  color: rgba(255, 255, 255, 0.26);
  font-family: 'Bitter';
  font-size: 17px;
  text-align: center;
  line-height: 1em;
  border-radius: 8px;
}
.leaf:before,
.leaf:after {
  display: block;
  position: absolute;
  content:' ';
  height:30px;
  width:100%;
  background-color: red;
}
.d {
  position: absolute;
  font-family: 'Bitter';
  font-size: 42px;
  color: #fff;
  left: 22px;
  top: 26px;
}
.leaf:nth-child(1) {
  border-radius: 25px 50px 0 27px;
  border-right: 3px solid rgb(0, 132, 255);
}
.leaf:nth-child(2) {
  border-radius:61px 6px 51px 0;
  right:-3px;
  top:0px;
  background-color:#3892E7;
  border-right:3px solid rgb(0, 132, 255);
}
.leaf:nth-child(3) {
  border-radius: 25px 0 50px 27px;
  background-color: #0084FF;
  top: 3px;
  right: 0px;
  border-right: 4px solid rgb(3, 111, 166);
}
.leaf:nth-child(4) {
  border-radius: 0 27px 25px 50px;
  left: 3px;
  top: 3px;
  border-bottom: 3px solid rgb(0, 132, 255);
  border-left: 1px solid rgb(0, 132, 255);
}*/
/* smaller bushel (end) */
